notes-app/node_modules/validator/CHANGELOG.md
notes-app/node_modules/validator/index.js
notes-app/node_modules/validator/LICENSE
notes-app/node_modules/validator/package.json
notes-app/node_modules/validator/README.md
notes-app/node_modules/validator/validator.js
notes-app/node_modules/validator/validator.min.js
notes-app/node_modules/validator/es/index.js
notes-app/node_modules/validator/es/lib/alpha.js
notes-app/node_modules/validator/es/lib/blacklist.js
notes-app/node_modules/validator/es/lib/contains.js
notes-app/node_modules/validator/es/lib/equals.js
notes-app/node_modules/validator/es/lib/escape.js
notes-app/node_modules/validator/es/lib/isAfter.js
notes-app/node_modules/validator/es/lib/isAlpha.js
notes-app/node_modules/validator/es/lib/isAlphanumeric.js
notes-app/node_modules/validator/es/lib/isAscii.js
notes-app/node_modules/validator/es/lib/isBase32.js
notes-app/node_modules/validator/es/lib/isBase64.js
notes-app/node_modules/validator/es/lib/isBefore.js
notes-app/node_modules/validator/es/lib/isBIC.js
notes-app/node_modules/validator/es/lib/isBoolean.js
notes-app/node_modules/validator/es/lib/isBtcAddress.js
notes-app/node_modules/validator/es/lib/isByteLength.js
notes-app/node_modules/validator/es/lib/isCreditCard.js
notes-app/node_modules/validator/es/lib/isCurrency.js
notes-app/node_modules/validator/es/lib/isDataURI.js
notes-app/node_modules/validator/es/lib/isDecimal.js
notes-app/node_modules/validator/es/lib/isDivisibleBy.js
notes-app/node_modules/validator/es/lib/isEAN.js
notes-app/node_modules/validator/es/lib/isEmail.js
notes-app/node_modules/validator/es/lib/isEmpty.js
notes-app/node_modules/validator/es/lib/isEthereumAddress.js
notes-app/node_modules/validator/es/lib/isFloat.js
notes-app/node_modules/validator/es/lib/isFQDN.js
notes-app/node_modules/validator/es/lib/isFullWidth.js
notes-app/node_modules/validator/es/lib/isHalfWidth.js
notes-app/node_modules/validator/es/lib/isHash.js
notes-app/node_modules/validator/es/lib/isHexadecimal.js
notes-app/node_modules/validator/es/lib/isHexColor.js
notes-app/node_modules/validator/es/lib/isHSL.js
notes-app/node_modules/validator/es/lib/isIBAN.js
notes-app/node_modules/validator/es/lib/isIdentityCard.js
notes-app/node_modules/validator/es/lib/isIn.js
notes-app/node_modules/validator/es/lib/isInt.js
notes-app/node_modules/validator/es/lib/isIP.js
notes-app/node_modules/validator/es/lib/isIPRange.js
notes-app/node_modules/validator/es/lib/isISBN.js
notes-app/node_modules/validator/es/lib/isISIN.js
notes-app/node_modules/validator/es/lib/isISO8601.js
notes-app/node_modules/validator/es/lib/isISO31661Alpha2.js
notes-app/node_modules/validator/es/lib/isISO31661Alpha3.js
notes-app/node_modules/validator/es/lib/isISRC.js
notes-app/node_modules/validator/es/lib/isISSN.js
notes-app/node_modules/validator/es/lib/isJSON.js
notes-app/node_modules/validator/es/lib/isJWT.js
notes-app/node_modules/validator/es/lib/isLatLong.js
notes-app/node_modules/validator/es/lib/isLength.js
notes-app/node_modules/validator/es/lib/isLocale.js
notes-app/node_modules/validator/es/lib/isLowercase.js
notes-app/node_modules/validator/es/lib/isMACAddress.js
notes-app/node_modules/validator/es/lib/isMagnetURI.js
notes-app/node_modules/validator/es/lib/isMD5.js
notes-app/node_modules/validator/es/lib/isMimeType.js
notes-app/node_modules/validator/es/lib/isMobilePhone.js
notes-app/node_modules/validator/es/lib/isMongoId.js
notes-app/node_modules/validator/es/lib/isMultibyte.js
notes-app/node_modules/validator/es/lib/isNumeric.js
notes-app/node_modules/validator/es/lib/isOctal.js
notes-app/node_modules/validator/es/lib/isPassportNumber.js
notes-app/node_modules/validator/es/lib/isPort.js
notes-app/node_modules/validator/es/lib/isPostalCode.js
notes-app/node_modules/validator/es/lib/isRFC3339.js
notes-app/node_modules/validator/es/lib/isRgbColor.js
notes-app/node_modules/validator/es/lib/isSemVer.js
notes-app/node_modules/validator/es/lib/isSlug.js
notes-app/node_modules/validator/es/lib/isSurrogatePair.js
notes-app/node_modules/validator/es/lib/isUppercase.js
notes-app/node_modules/validator/es/lib/isURL.js
notes-app/node_modules/validator/es/lib/isUUID.js
notes-app/node_modules/validator/es/lib/isVariableWidth.js
notes-app/node_modules/validator/es/lib/isWhitelisted.js
notes-app/node_modules/validator/es/lib/ltrim.js
notes-app/node_modules/validator/es/lib/matches.js
notes-app/node_modules/validator/es/lib/normalizeEmail.js
notes-app/node_modules/validator/es/lib/rtrim.js
notes-app/node_modules/validator/es/lib/stripLow.js
notes-app/node_modules/validator/es/lib/toBoolean.js
notes-app/node_modules/validator/es/lib/toDate.js
notes-app/node_modules/validator/es/lib/toFloat.js
notes-app/node_modules/validator/es/lib/toInt.js
notes-app/node_modules/validator/es/lib/trim.js
notes-app/node_modules/validator/es/lib/unescape.js
notes-app/node_modules/validator/es/lib/whitelist.js
notes-app/node_modules/validator/es/lib/util/assertString.js
notes-app/node_modules/validator/es/lib/util/includes.js
notes-app/node_modules/validator/es/lib/util/merge.js
notes-app/node_modules/validator/es/lib/util/multilineRegex.js
notes-app/node_modules/validator/es/lib/util/toString.js
notes-app/node_modules/validator/lib/alpha.js
notes-app/node_modules/validator/lib/blacklist.js
notes-app/node_modules/validator/lib/contains.js
notes-app/node_modules/validator/lib/equals.js
notes-app/node_modules/validator/lib/escape.js
notes-app/node_modules/validator/lib/isAfter.js
notes-app/node_modules/validator/lib/isAlpha.js
notes-app/node_modules/validator/lib/isAlphanumeric.js
notes-app/node_modules/validator/lib/isAscii.js
notes-app/node_modules/validator/lib/isBase32.js
notes-app/node_modules/validator/lib/isBase64.js
notes-app/node_modules/validator/lib/isBefore.js
notes-app/node_modules/validator/lib/isBIC.js
notes-app/node_modules/validator/lib/isBoolean.js
notes-app/node_modules/validator/lib/isBtcAddress.js
notes-app/node_modules/validator/lib/isByteLength.js
notes-app/node_modules/validator/lib/isCreditCard.js
notes-app/node_modules/validator/lib/isCurrency.js
notes-app/node_modules/validator/lib/isDataURI.js
notes-app/node_modules/validator/lib/isDecimal.js
notes-app/node_modules/validator/lib/isDivisibleBy.js
notes-app/node_modules/validator/lib/isEAN.js
notes-app/node_modules/validator/lib/isEmail.js
notes-app/node_modules/validator/lib/isEmpty.js
notes-app/node_modules/validator/lib/isEthereumAddress.js
notes-app/node_modules/validator/lib/isFloat.js
notes-app/node_modules/validator/lib/isFQDN.js
notes-app/node_modules/validator/lib/isFullWidth.js
notes-app/node_modules/validator/lib/isHalfWidth.js
notes-app/node_modules/validator/lib/isHash.js
notes-app/node_modules/validator/lib/isHexadecimal.js
notes-app/node_modules/validator/lib/isHexColor.js
notes-app/node_modules/validator/lib/isHSL.js
notes-app/node_modules/validator/lib/isIBAN.js
notes-app/node_modules/validator/lib/isIdentityCard.js
notes-app/node_modules/validator/lib/isIn.js
notes-app/node_modules/validator/lib/isInt.js
notes-app/node_modules/validator/lib/isIP.js
notes-app/node_modules/validator/lib/isIPRange.js
notes-app/node_modules/validator/lib/isISBN.js
notes-app/node_modules/validator/lib/isISIN.js
notes-app/node_modules/validator/lib/isISO8601.js
notes-app/node_modules/validator/lib/isISO31661Alpha2.js
notes-app/node_modules/validator/lib/isISO31661Alpha3.js
notes-app/node_modules/validator/lib/isISRC.js
notes-app/node_modules/validator/lib/isISSN.js
notes-app/node_modules/validator/lib/isJSON.js
notes-app/node_modules/validator/lib/isJWT.js
notes-app/node_modules/validator/lib/isLatLong.js
notes-app/node_modules/validator/lib/isLength.js
notes-app/node_modules/validator/lib/isLocale.js
notes-app/node_modules/validator/lib/isLowercase.js
notes-app/node_modules/validator/lib/isMACAddress.js
notes-app/node_modules/validator/lib/isMagnetURI.js
notes-app/node_modules/validator/lib/isMD5.js
notes-app/node_modules/validator/lib/isMimeType.js
notes-app/node_modules/validator/lib/isMobilePhone.js
notes-app/node_modules/validator/lib/isMongoId.js
notes-app/node_modules/validator/lib/isMultibyte.js
notes-app/node_modules/validator/lib/isNumeric.js
notes-app/node_modules/validator/lib/isOctal.js
notes-app/node_modules/validator/lib/isPassportNumber.js
notes-app/node_modules/validator/lib/isPort.js
notes-app/node_modules/validator/lib/isPostalCode.js
notes-app/node_modules/validator/lib/isRFC3339.js
notes-app/node_modules/validator/lib/isRgbColor.js
notes-app/node_modules/validator/lib/isSemVer.js
notes-app/node_modules/validator/lib/isSlug.js
notes-app/node_modules/validator/lib/isSurrogatePair.js
notes-app/node_modules/validator/lib/isUppercase.js
notes-app/node_modules/validator/lib/isURL.js
notes-app/node_modules/validator/lib/isUUID.js
notes-app/node_modules/validator/lib/isVariableWidth.js
notes-app/node_modules/validator/lib/isWhitelisted.js
notes-app/node_modules/validator/lib/ltrim.js
notes-app/node_modules/validator/lib/matches.js
notes-app/node_modules/validator/lib/normalizeEmail.js
notes-app/node_modules/validator/lib/rtrim.js
notes-app/node_modules/validator/lib/stripLow.js
notes-app/node_modules/validator/lib/toBoolean.js
notes-app/node_modules/validator/lib/toDate.js
notes-app/node_modules/validator/lib/toFloat.js
notes-app/node_modules/validator/lib/toInt.js
notes-app/node_modules/validator/lib/trim.js
notes-app/node_modules/validator/lib/unescape.js
notes-app/node_modules/validator/lib/whitelist.js
notes-app/node_modules/validator/lib/util/assertString.js
notes-app/node_modules/validator/lib/util/includes.js
notes-app/node_modules/validator/lib/util/merge.js
notes-app/node_modules/validator/lib/util/multilineRegex.js
notes-app/node_modules/validator/lib/util/toString.js

notes-app/node_modules/@types/color-name/index.d.ts
notes-app/node_modules/@types/color-name/LICENSE
notes-app/node_modules/@types/color-name/package.json
notes-app/node_modules/@types/color-name/README.md
notes-app/node_modules/ansi-styles/index.d.ts
notes-app/node_modules/ansi-styles/index.js
notes-app/node_modules/ansi-styles/license
notes-app/node_modules/ansi-styles/package.json
notes-app/node_modules/ansi-styles/readme.md
notes-app/node_modules/chalk/index.d.ts
notes-app/node_modules/chalk/license
notes-app/node_modules/chalk/package.json
notes-app/node_modules/chalk/readme.md
notes-app/node_modules/chalk/source/index.js
notes-app/node_modules/chalk/source/templates.js
notes-app/node_modules/chalk/source/util.js
notes-app/node_modules/color-convert/CHANGELOG.md
notes-app/node_modules/color-convert/conversions.js
notes-app/node_modules/color-convert/index.js
notes-app/node_modules/color-convert/LICENSE
notes-app/node_modules/color-convert/package.json
notes-app/node_modules/color-convert/README.md
notes-app/node_modules/color-convert/route.js
notes-app/node_modules/color-name/index.js
notes-app/node_modules/color-name/LICENSE
notes-app/node_modules/color-name/package.json
notes-app/node_modules/color-name/README.md
notes-app/node_modules/has-flag/index.d.ts
notes-app/node_modules/has-flag/index.js
notes-app/node_modules/has-flag/license
notes-app/node_modules/has-flag/package.json
notes-app/node_modules/has-flag/readme.md
notes-app/node_modules/supports-color/browser.js
notes-app/node_modules/supports-color/index.js
notes-app/node_modules/supports-color/license
notes-app/node_modules/supports-color/package.json
notes-app/node_modules/supports-color/readme.md
